<!DOCTYPE html>
<html lang = "en" ng-app = "cafeTill">
  <head>
    <title> Cafe Till </title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/cafeTillController.js"></script>
    <script src="hipstercoffee.json"></script>
  </head>

  <body ng-controller = "cafeTillController as searchCtrl">

      <button ng-repeat="(key,price) in searchCtrl.menu" ng-click="searchCtrl.increaseTotal(price)" >
        {{key}}
      </button>

      <div class="total">
        {{searchCtrl.total |currency : "&pound;"}}
      </div>
  </body>
