<!DOCTYPE html>
<html lang = "en" ng-app = "cafeTill">
  <head>
    <title> Cafe Till </title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/cafeTillController.js"></script>
    <script src="hipstercoffee.json"></script>
  </head>

  <body ng-controller = "cafeTillController as ctrl">
    <input class="nameInput" ng-model = "ctrl.customerName" type=text>Name of Customer</input>
    <button class="newCustomer" ng-click="ctrl.addToCustomers()" >Save Customer</button>
      </br>
    <button ng-repeat="(key,price) in ctrl.menu" ng-click="ctrl.addToOrderedItems(key,price)" >
      {{key}}
    </button>
    <div class="total">
      {{ctrl.customerName}} </br>
      {{ctrl.total |currency : "&pound;"}}
    </div>
    <div class="order">
      <div ng-repeat="order in ctrl.orderedItems">
        {{order.quantity}}X {{order.item}} {{order.itemTotal |currency : "&pound;"}}
      </div>
    </br>
    <div class="receipt">
      Receipt
      <div class="shopInfo">
        {{ctrl.shopInfo.shopName}} </br>
        {{ctrl.shopInfo.address}} </br>
        phone: {{ctrl.shopInfo.phone}} </br>
      </br>
      </div>
      <div class="finalOrder" ng-repeat="customer in ctrl.customers">
          {{customer.name}}
          <div class="finalItems" ng-repeat="items in customer.order">
            {{items.quantity}}X {{items.item}}
          </div>
          <div class='finalTotal'>
              Total: {{customer.total |currency : "&pound;"}} </br>
              Tax: +{{customer.tax |currency : "&pound;"}} </br>
              To Pay:{{customer.total + info.tax |currency : "&pound;"}}
          </div>
          <button class="{{customer.name}}Payment" ng-click="ctrl.pay()">Take Payment</button>
          <div ng-show="ctrl.payment" class="payment">
            <input type="number" step="0.01" class="cashAmount" ng-model="ctrl.cashAmount">Cash Amount</input>
          </br>
            <button class="change" ng-click="ctrl.viewChange(customer.total + customer.tax)">Calculate Change</button>
            <div ng-show="ctrl.showChange">
            Change: {{ctrl.change | currency :"&pound;"}}
            </div>
          </div>
        </br>
      </div>
    </div>
  </body>
</html>
