<!DOCTYPE html>
<html lang = "en" ng-app = "cafeTill">
  <head>
    <title> Cafe Till </title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/cafeTillController.js"></script>
    <script src="hipstercoffee.json"></script>
  </head>

  <body ng-controller = "cafeTillController as searchCtrl">
    <input class="nameInput" ng-model = "searchCtrl.name" type=text>Name of Customer</input>
    <button class=newCustomer ng-click="searchCtrl.addToCustomers(searchCtrl.name)" >Save Customer</button>
      </br>
    <button ng-repeat="(key,price) in searchCtrl.menu" ng-click="searchCtrl.addToOrderedItems(key,price)" >
      {{key}}
    </button>
    <div class="total">
      {{searchCtrl.total |currency : "&pound;"}}
    </div>
    <div class="order">
      <div ng-repeat="order in searchCtrl.orderedItems">
        {{order.quantity}}X {{order.item}}
      </div>
    </br>
    <div class="receipt">
      Receipt
      <div class="shopInfo">
        {{searchCtrl.name}} </br>
        {{searchCtrl.shopInfo.shopName}} </br>
        {{searchCtrl.shopInfo.address}} </br>
        phone: {{searchCtrl.shopInfo.phone}} </br>
      </br>
      </div>
      <div class="finalOrder" ng-repeat="info in searchCtrl.customers">
          {{info.name}}
          <div class="finalItems" ng-repeat="items in info.order">
            {{items.quantity}}X {{items.item}}
          </div>
          <div class='finalTotal'>
              {{info.total |currency : "&pound;"}}
          </div>
        </br>
      </div>
  </body>
</html>
