body{
  background-color: lightblue;
}

.nameInput{
  margin-left: 40%;
}


.menuBtns{
  width:50%;
  margin-left: 23%;
}

.menuBtn{
  width:33%;
}

.total{
  margin-left:46%;
}

.order{
  margin-left:40%;
}

.orderedItem button{
  margin-left:35%;
  margin-right:60%;
  margin-top:-10%;
}

.receiptContainer{
  width:30%;
  margin-left:33%;
}
